/* reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


/* main */

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosanscyrl_500/museosanscyrl_500-webfont.eot');
  src: url('../fonts/museosanscyrl_500/museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museosanscyrl_500/museosanscyrl_500-webfont.woff') format('woff'),
       url('../fonts/museosanscyrl_500/museosanscyrl_500-webfont.ttf') format('truetype'),
       url('../fonts/museosanscyrl_500/museosanscyrl_500-webfont.svg#museo_sans_cyrl500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosanscyrl_300/museosanscyrl_300-webfont.eot');
  src: url('../fonts/museosanscyrl_300/museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museosanscyrl_300/museosanscyrl_300-webfont.woff') format('woff'),
       url('../fonts/museosanscyrl_300/museosanscyrl_300-webfont.ttf') format('truetype'),
       url('../fonts/museosanscyrl_300/museosanscyrl_300-webfont.svg#museo_sans_cyrl300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_100/museosanscyrl_100-webfont.eot');
  src: url('../fonts/museosanscyrl_100/museosanscyrl_100-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museosanscyrl_100/museosanscyrl_100-webfont.woff') format('woff'),
       url('../fonts/museosanscyrl_100/museosanscyrl_100-webfont.ttf') format('truetype'),
       url('../fonts/museosanscyrl_100/museosanscyrl_100-webfont.svg#museo_sans_cyrl100') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body {
  width: 100%;
  min-width: 940px;
  min-height: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  font-family: 'museo_sans_cyrl500', Helvetica, Arial, sans-serif;
  background-color: #fff;
}

input {
  font-family: 'museo_sans_cyrl100';
}

a.button {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 2px 23px 0;
  text-decoration: none;
  color: #00a9e2;
  text-transform: uppercase;
  border: 1px solid #00a9e2;
  font-size: 16px;
  line-height: 32px;
  border-radius: 18px;
  letter-spacing: 4.5px;
  text-indent: 4px;
  font-family: 'museo_sans_cyrl300';
}

a.button:hover {
  background-color: #00a9e2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}



/* nav BLOCK */

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 940px;
  z-index: 3;
}

nav.fixed {
  position: fixed;
  background-color: rgba(249,250,250,.5);
}

nav p {
  text-align: center
}

nav p a {
  font-size: 14px;
  line-height: 67px;
  text-decoration: none;
  border-bottom: 1px solid #00a9e2;
  padding: 5px 0;
  margin-left: 68px;
  color: #000;
}

nav p a:hover {
  border-bottom: 4px solid #000;
}

nav p a:first-child {
  margin-left: 0;
}


/* OTP block */



section.otp {

}

section.otp div.otp-container {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0 27px;
}

section.otp div.otp-logo {
  padding-top: 30px;
  margin: 0 auto 100px;
  width: 136px;
}

section.otp div.otp-logo img {
  vertical-align: middle;
  width: 100%;
}

section.otp h1 {
  font-size: 57px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
  margin-bottom: 7px;
}

section.otp h1 span {
  color: #00a9e2;
}

section.otp p.otp-description {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 21px;
}

section.otp p.otp-join {
  text-align: center;
}



/* NOIZE block */



section.noize-yacht {
  position: relative;
  height: 255px;
  overflow: hidden;
  background: #00a9e2 url('../images/noize-yacht.jpg') no-repeat center 0;
}



/* BENEFITS block */



section.benefits {
  position: relative;
  background-color: #ebebeb;
}

section.benefits div.benefits-container {
  width: 940px;
  margin: 0 auto;
  padding: 89px 0 45px;
  text-align: center;
}

section.benefits div.benefits-banner {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 38px 110px 47px;
  border: 1px solid #00a9e2;
  margin-bottom: 35px;
}

section.benefits div.benefits-banner p {
  font-size: 32px;
  line-height: 42px;
}

section.benefits div.benefits-banner p span {
  color: #00a9e2;
}

section.benefits p.benefits-description {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
}

section.benefits div.personal-benefits-container {
  font-size: 0;
}

section.benefits div.personal-benefit {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 220px;
  height: 185px;
  padding: 30px;
  margin-left: 50px;
  background-color: #fff;
  font-size: 100%;
}

section.benefits div.personal-benefit:first-child {
  margin-left: 0;
  margin-bottom: 25px;
}

section.benefits div.personal-benefit div.personal-benefit-icon {
  width: 57px;
  height: 44px;
  margin: 13px auto 31px;
  background-repeat: no-repeat;
  background-image: url('../images/personal-benefit-icons.png');
}

section.benefits div.personal-benefit.for-users div.personal-benefit-icon {
  background-position: 0 0;
}

section.benefits div.personal-benefit.for-advert div.personal-benefit-icon {
  background-position: 0 -47px;
}

section.benefits div.personal-benefit.for-author div.personal-benefit-icon {
  background-position: 0 -98px;
}

section.benefits div.personal-benefit p.personal-benefit-title {
  margin-bottom: 15px;
  color: #00a9e2;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

section.benefits div.personal-benefit p.personal-benefit-description {
  font-size: 14px;
}

section.benefits p.benefits-join a {
  padding: 2px 36px 0;
}



/* benefits BLOCK */



section.how-work {

}

section.how-work div.how-work-container {
  width: 940px;
  margin: 0 auto;
  padding: 12px 0 24px;
}

section.how-work p.how-work-title {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 18px;
}

section.how-work div.how-work-structure-container {
  font-size: 0;
}

section.how-work div.how-work-structure-container div.how-work-structure {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 16px 26px;
  font-size: 100%;
  border: 4px solid #ebebeb;
}

section.how-work div.how-work-structure-container div.how-work-structure.audio-structure {
  width: 560px;
  margin-right: 31px;
}

section.how-work div.how-work-structure-container div.audio-structure p.audio-structure-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-structure-info-container {
  font-size: 0;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-structure-info {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 175px;
  padding: 0 0 20px 20px;
  font-size: 14px;
  border-left: 4px solid #ebebeb;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-duration-info {
  width: 192px;
  padding-left: 0;
  border-width: 0;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-duration-pause {
  width: 185px;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-pause-count {
  width: 125px;
  padding-top: 16px;
  padding-bottom: 36px;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-structure-info p {
  line-height: 34px;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-structure-info.audio-pause-count p {
  line-height: 18px;
}

section.how-work div.how-work-structure-container div.audio-structure div.audio-structure-info span {
  font-size: 34px;
}

section.how-work div.how-work-structure-container div.how-work-structure.sync-structure {
  width: 214px;
  height: 133px;
  padding: 21px 32px;
}

section.how-work div.how-work-structure-container div.sync-structure-plus {
  position: relative;
  width: 15px;
  height: 15px;
  margin-bottom: 35px;
  background-color: #000;
  border-radius: 50%;
}

section.how-work div.how-work-structure-container div.sync-structure-plus div {
  position: absolute;
  left: 3px;
  top: 7px;
  width: 9px;
  height: 1px;
  background-color: #fff;
}

section.how-work div.how-work-structure-container div.sync-structure-plus div div {
  left: 4px;
  top: -4px;
  height: 9px;
  width: 1px;
  border-bottom: 0;
}

section.how-work div.how-work-structure-container p.sync-structure-info {
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 4.7px;
}

section.how-work div.how-work-targeting {
  padding: 31px 0 0 80px;
  font-size: 0;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;
  width: 35px;
  height: 35px;
  border: 3px solid #00a9e2;
  border-radius: 50%;
  font-size: 100%;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-center {
  position: absolute;
  left: 11px;
  top: 11px;
  width: 7px;
  height: 7px;
  border: 3px solid #00a9e2;
  border-radius: 50%;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-left,
section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-right {
  position: absolute;
  width: 15px;
  height: 3px;
  left: 10px;
  top: 16px;
  background-color: #00a9e2;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-top,
section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-bottom {
  position: absolute;
  width: 3px;
  height: 15px;
  left: 16px;
  top: 10px;
  background-color: #00a9e2;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-left {
  left: -9px;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-right {
  left: 29px;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-top {
  top: -9px;
}

section.how-work div.how-work-targeting div.how-work-targeting-icon div.how-work-icon-bottom {
  top: 29px;
}

section.how-work div.how-work-targeting p.how-work-targeting-title {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin-left: 23px;
  font-size: 14px;
}

section.how-work div.how-work-targeting p.how-work-targeting-title a {
  padding: 7px 17px;
  margin-right: 17px;
  color: #000;
  text-decoration: none;
  border: 1px solid #c7c8ca;
}

section.how-work div.how-work-targeting p.how-work-targeting-title span {
  margin-right: 25px;
  font-size: 16px;
  line-height: 41px;
  color: #00a9e2;
  text-transform: uppercase;
  letter-spacing: 4px;
}



/* interlayer BLOCK */



section.interlayer-2 {
  background: #5ccaf1 url('../images/girl.jpg') no-repeat center 0;
  height: 149px;
  overflow: hidden;
}



/* excellence BLOCK */



section.excellence {}

section.excellence div.excellence-container {
  width: 940px;
  margin: 0 auto;
  padding: 35px 0 25px;
}

section.excellence p.excellence-title {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.6px;
  margin-bottom: 32px;
}

section.excellence div.excellence-types-container {
  font-size: 0;
  margin-bottom: 8px;
}

section.excellence div.excellence-type {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 305px;
  margin-left: 12px;
  font-size: 12px;
}

section.excellence div.excellence-type:first-child {
  margin-left: 0;
}

section.excellence div.excellence-type div.excellence-type-block {
  position: relative;
  padding: 61px 15px 0 35px;
  margin-bottom: 16px;
}

section.excellence div.excellence-type div.excellence-type-block div.excellence-type-block-cross {
  position: absolute;
  width: 31px;
  height: 3px;
  top: 33px;
  left: 14px;
  background-color: #00a9e2;
}

section.excellence div.excellence-type div.excellence-type-block div.excellence-type-block-cross div {
  position: absolute;
  left: 14px;
  top: -14px;
  width: 3px;
  height: 31px;
  background-color: #00a9e2;
}

section.excellence div.excellence-type div.excellence-type-block p.excellence-type-block-title {
  font-family: 'museo_sans_cyrl300';
}

section.excellence div.excellence-type div.excellence-type-block p.excellence-type-block-description {
  font-size: 14px;
  line-height: 17px;
}

section.excellence div.excellence-type div.excellence-type-block p.excellence-type-block-description span {
  color: #00a9e2;
}

section.excellence div.excellence-type div.excellence-type-block.first {
  background-color: #00a9e2;
  padding-top: 73px;
  padding-right: 35px;
  height: 208px;
  margin-bottom: 7px;
}

section.excellence div.excellence-type div.excellence-type-block.first div.excellence-type-block-cross,
section.excellence div.excellence-type div.excellence-type-block.first div.excellence-type-block-cross div {
  background-color: #fff;
}

section.excellence div.excellence-type div.excellence-type-block.first p.excellence-type-block-title {
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #e4ee51;
  letter-spacing: 4px;
  margin-bottom: -2px;
}

section.excellence div.excellence-type div.excellence-type-block.first p.excellence-type-block-description {
  color: #fff;
  font-family: 'museo_sans_cyrl300';
}

section.excellence div.excellence-mailing {
  display: none;
  position: relative;
  padding: 24px 34px 22px;
  margin-bottom: 24px;
  background-color: #e4ee51;
  font-size: 0;
}

section.excellence div.excellence-mailing p,
section.excellence div.excellence-mailing form {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 14px;
}

section.excellence div.excellence-mailing p {
  width: 410px;
  font-size: 14px;
  line-height: 17px;
}

section.excellence div.excellence-mailing input {
  width: 294px;
  border: none;
  padding: 13px 20px;
  margin-right: 15px;
  font-size: 16px;
  letter-spacing: 4px;
  outline: none;
}

section.excellence div.excellence-mailing button {
  font-size: 14px;
  line-height: 42px;
  padding: 0 38px;
  margin: 0;
  text-transform: uppercase;
  color: #00a9e2;
  border: 1px solid #00a9e2;
  border-radius: 20px;
  background-color: transparent;
  letter-spacing: 4.5px;
  cursor: pointer;
  font-family: 'museo_sans_cyrl300';
}

section.excellence div.excellence-mailing button:hover {
  background-color: #00a9e2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

section.excellence div.excellence-mailing-close {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 15px;
  top: 15px;
  background: url('../images/mailing-close.png') no-repeat 0 0;
  cursor: pointer;
}

section.excellence p.excellence-download {
  text-align: center;
}

section.excellence p.excellence-download a {
  padding: 2px 30px 0 48px;
  border-width: 1px;
  line-height: 40px;
  border-radius: 20px;
  background-image: url('../images/download-brochure-icon.png');
  background-repeat: no-repeat;
  background-position: 16px 9px;
}





/* interlayer-3 BLOCK */




section.interlayer-3 {
  height: 314px;
  background: #83d8f2 url('../images/girl2.jpg') no-repeat center 0;
}





/* efficiency BLOCK */




section.efficiency {

}

section.efficiency div.efficiency-container {
  width: 940px;
  margin: 0 auto;
  font-size: 0;
  padding: 52px 0 15px;
}

section.efficiency div.efficiency-left,
section.efficiency div.efficiency-right {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 11px;
}

section.efficiency div.efficiency-left {
  width: 480px;
}

section.efficiency p.efficiency-title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 20px;
}

section.efficiency p.efficiency-description {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 23px;
}

section.efficiency div.efficiency-graph {
  font-size: 0;
}

section.efficiency div.efficiency-graph div.efficiency-graph-left,
section.efficiency div.efficiency-graph div.efficiency-graph-right {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 14px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-left {
  width: 240px;
  margin-bottom: 35px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-left p {
  text-align: right;
  line-height: 30px;
  margin-top: 12px;
  padding-right: 8px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-left p:first-child {
  margin-top: 0;
}

section.efficiency div.efficiency-graph div.efficiency-graph-right {
  width: 237px;
  border-left: 3px solid #000;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale {
  margin: 13px 0 3px;
  padding-right: 40px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale:first-child {
  margin-top: 3px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale div {
  position: relative;
  width: 0;
  height: 14px;
  transition: width .7s ease-in-out;
  -webkit-animation: animate-stripes 7s linear infinite;
  -moz-animation: animate-stripes 7s linear infinite;
  animation: animate-stripes 7s linear infinite;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale div span {
  position: absolute;
  right: -30px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale div.efficiency-graph-scale-top {
  background-color: #00a9e2;
}

section.efficiency div.efficiency-graph div.efficiency-graph-scale div.efficiency-graph-scale-bottom {
  background-color: #5a5a5a;
}

section.efficiency div.efficiency-graph div.efficiency-graph-legend {
  font-size: 14px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-legend-mark {
  width: 12px;
  height: 12px;
  text-indent: 18px;
  white-space: nowrap;
  margin-bottom: 12px;
}

section.efficiency div.efficiency-graph div.efficiency-graph-legend-mark.blue {
  background-color: #00a9e2;
}

section.efficiency div.efficiency-graph div.efficiency-graph-legend-mark.black {
  background-color: #5a5a5a;
}

section.efficiency div.efficiency-right {
  width: 40%;
}

#efficiency-in-stream-month,
#efficiency-in-stream-answer {
  margin: 5px 0 30px 86px;
}




/* interlayer-4 BLOCK */




section.interlayer-4 {
  height: 166px;
  background: #16c2ef url('../images/noize-yachts.jpg') no-repeat center 0;
}



/* services BLOCK */




section.services {}

section.services div.services-container {
  width: 940px;
  margin: 0 auto;
  padding: 34px 0 37px;
}

section.services p.services-title {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 26px;
  text-align: center;
}

section.services div.services-item-container {
  font-size: 0;
}

section.services div.services-item {
  position: relative;
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 422px;
  height: 255px;
  margin-left: 55px;
  border: 10px solid #00a9e2;
}

section.services div.services-item:first-child {
  margin-left: 0;
}

section.services div.services-item div.services-item-icon {
  width: 135px;
  margin: 0 auto;
  background: url('../images/services-icons.png') no-repeat 0 0;
}

section.services div.services-item.partners div.services-item-icon {
  margin: 25px auto 31px;
  height: 94px;
  background-position: 0 0;
}

section.services div.services-item.banners div.services-item-icon {
  margin: 32px auto 3px;
  height: 115px;
  background-position: 0 -95px;
}

section.services div.services-item p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  color: #00a9e2;
  text-align: center;
  letter-spacing: 4.5px;
  font-family: 'museo_sans_cyrl300';
}

section.services div.services-item p a {
  padding: 5px 0;
  font-size: 14px;
  color: #000;
  text-transform: none;
  letter-spacing: 0;
  text-decoration: none;
  border-bottom: 1px solid #00a9e2;
  font-family: 'museo_sans_cyrl500';
}

section.services div.services-item p a:hover {
  border-bottom: 4px solid #000;
}


.services-item-arrow {
  position: absolute;
  left: 50%;
  bottom: -47px;
  background: #ebebeb;
}

.services-item-arrow.hidden {
  visibility: hidden;
}

.services-item-arrow:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.services-item-arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ebebeb;
  border-width: 20px;
  margin-left: -20px;
}




/* video BLOCK */




section.video {
  overflow: hidden;
  background: #ebebeb url('../images/device.png') no-repeat center 88px;
}

section.video div.video-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 27px;
}

section.video p.video-title {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

section.video div.video-player {
  height: 315px;
  padding-top: 44px;
}

section.video div.video-player,
section.video div.video-banners {
  height: 315px;
}

section.video div.video-player.hidden,
section.video div.video-banners.hidden {
  display: none;
}



/* section partners */



section.partners {

}

section.partners div.partners-container {
  width: 940px;
  margin: 0 auto;
  padding: 40px 0 59px;
}

section.partners p.partners-title {
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 22px;
}

section.partners div.partners-list {
  padding-bottom: 17px;
  border-bottom: 3px solid #ebebeb;
  font-size: 0;
  text-align: center;
}

section.partners div.partner-item {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

section.partners div.partner-item.odnoklassniki {
  width: 263px;
  height: 91px;
  background: url('../images/odnoklassniki-logo@2x.jpg') no-repeat 0 -91;
}

section.partners div.partner-item.odnoklassniki:hover {
  background-position: 0 0;
}

section.partners div.partner-item.img {
  width: 200px;
  height: 91px;
  background: url('../images/img-logo.jpg') no-repeat 0 0;
}

section.partners div.partner-item.img:hover {
  background-position: 0 0;
}

section.partners div.partner-item.zvooq {
  width: 189px;
  height: 91px;
  background: url('../images/zvooq-logo.jpg') no-repeat 0 0;
}

section.partners div.partner-item.zvooq:hover {
  background-position: 0 0;
}

section.partners div.partner-item.ronline {
  width: 280px;
  height: 91px;
  background: url('../images/101-logo.jpg') no-repeat 0 0;
}

section.partners div.partner-item.ronline:hover {
  background-position: 0 0;
}

section.partners div.partners-form {
  padding-top: 40px;
  text-align: center;
  display: none;
}

section.partners div.partners-form p.partners-act {
  margin-bottom: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: 'museo_sans_cyrl300';
}

section.partners div.partners-form p.partners-act span {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  font-family: 'museo_sans_cyrl500';
}

section.partners div.partners-form input {
  display: block;
  margin: 0 auto 14px;
  width: 310px;
  height: 44px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #a6a8ab;
  outline: none;
  padding: 0 20px;
  color: #a6a8ab;
}

section.partners div.partners-form button {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 2px 35px 0;
  margin-top: 9px;
  text-decoration: none;
  color: #00a9e2;
  text-transform: uppercase;
  border: 1px solid #00a9e2;
  background-color: #fff;
  font-size: 16px;
  line-height: 32px;
  border-radius: 18px;
  letter-spacing: 4.5px;
  text-indent: 4px;
  cursor: pointer;
  font-family: 'museo_sans_cyrl300';
}

section.partners div.partners-form button:hover {
  background-color: #00a9e2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}



/* new-market BLOCK */



section.new-market {
  position: relative;
  height: 420px;
  overflow: hidden;
  background: url('../images/team.jpg') no-repeat center 0;
}

section.new-market div.new-market-container {
  position: relative;
  width: 740px;
  margin: 0 auto;
  padding: 60px 0 0;
  z-index: 2;
}

section.new-market div.new-market-block {
  width: 505px;
  padding: 5px 40px;
  margin: 0 auto;
  height: 280px;
  background-color: #e4ee51;
}

section.new-market div.new-market-block div.new-market-logo {
  padding-top: 30px;
  margin: 0 auto 31px;
  width: 136px;
}

section.new-market div.new-market-block div.new-market-logo img {
  vertical-align: middle;
  width: 100%;
}
 

section.new-market div.new-market-block div.new-market-title {
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  text-align: center;
  margin-bottom: 16px;
}

section.new-market div.new-market-block div.new-market-description {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}




/* join BLOCK */

section.join-mailing {
  background-color: #00a9e2;
}

section.join-mailing div.join-mailing-container {
  width: 940px;
  margin: 0 auto;
}

section.join-mailing div.join-mailing-block {
  padding: 31px 0;
  font-size: 0;
}

section.join-mailing div.join-mailing-block p,
section.join-mailing div.join-mailing-block form {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  font-size: 14px;
}

section.join-mailing div.join-mailing-block p {
  width: 416px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'museo_sans_cyrl300';
}

section.join-mailing div.join-mailing-block input {
  width: 235px;
  border: none;
  padding: 13px 20px;
  margin: 0 20px 1px 0;
  font-size: 16px;
  letter-spacing: 4px;
  outline: none;
}

section.join-mailing div.join-mailing-block button {
  font-size: 16px;
  line-height: 41px;
  padding: 2px 26px 0;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  letter-spacing: 4.5px;
  cursor: pointer;
  font-family: 'museo_sans_cyrl300';
}

section.join-mailing div.join-mailing-block button:hover {
  background-color: #e4ee51;
  color: #000;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

section.join-mailing p.excellence-download {
  text-align: center;
}

section.join-mailing p.excellence-download a {
  padding: 2px 30px 0 48px;
  border-width: 2px;
  line-height: 40px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 16px 9px;
}



/* press BLOCK */



section.press {
  background-color: #ebebeb;
}

section.press div.press-container {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0 40px;
}

section.press p.press-title {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 32px;
}

section.press div.press-items-container {
  font-size: 0;
  text-align: center;
}

section.press div.press-item {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-size: 14px;
  margin-left: 50px;
}

section.press div.press-item:first-child {
  margin-left: 0;
}

section.press div.press-item.roem {
  width: 223px;
  height: 60px;
  background: url('../images/roem-logo@2x.png') no-repeat 0 0;
}

section.press div.press-item.kommersant {
  width: 352px;
  height: 64px;
  background: url('../images/kommersant-logo@2x.png') no-repeat 0 0;
}




/* kontacts BLOCK */




section.contacts {

}

section.contacts div.contacts-container {
  width: 940px;
  margin: 0 auto;
  padding: 42px 0 87px;
}

section.contacts p.contacts-title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 28px;
}

section.contacts div.contacts-items-container {
  font-size: 0;
  text-align: center;
  margin-left: -100px;
}

section.contacts div.contacts-item {
  display: -moz-inline-block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 11px 42px 25px;
  border-left: 4px solid #ebebeb;
  font-size: 14px;
}

section.contacts div.contacts-item:first-child {
  border-left: none;
}

section.contacts div.contacts-item p {
  line-height: 24px;
}

section.contacts div.contacts-item p a {
  padding: 5px 0;
  border-bottom: 1px solid #00a9e2;
  text-decoration: none;
  color: #000;
}

section.contacts div.contacts-item p a:hover {
  border-bottom: 4px solid #000;
}



/* footer BLOCK */




section.footer {
  background-color: #000;
}

section.footer div.footer-container {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}

section.footer div.footer-cop {
  float: left;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  margin-top: 8px;
  font-family: 'museo_sans_cyrl100';
}

section.footer div.footer-company {
  float: right;
  width: 152px;
  height: 57px;
  margin-top: 5px;
  background: url('../images/dream-logo.png') no-repeat 0 0
}




@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  section.benefits div.personal-benefit div.personal-benefit-icon {
    background-size: 57px 135px;
    background-image: url('../images/personal-benefit-icons@2x.png');
  }

  section.excellence div.excellence-mailing-close {
    background-size: 12px 12px;
    background-image: url('../images/mailing-close@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  section.excellence p.excellence-download a {
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-image: url('../images/download-brochure-icon@2x.png');
  }

  section.noize-yacht {
    background-size: 1334px 266px;
    background-image: url('../images/noize-yacht@2x.jpg');
  }
  
  section.interlayer-2 {
    background-size: 1334px 155px;
    background-image: url('../images/girl@2x.jpg');
  }

  section.interlayer-3 {
    background-size: 1334px 314px;
    background-image: url('../images/girl2@2x.jpg');
  }

  section.interlayer-4 {
    background-size: 1334px 166px;
    background-image: url('../images/noize-yachts@2x.jpg');
  }

  section.services div.services-item.partners div.services-item-icon {
    background-size: 135px 201px;
    background-image: url('../images/services-icons@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  section.services div.services-item.banners div.services-item-icon {
    background-size: 135px 201px;
    background-image: url('../images/services-icons@2x.png');
    background-repeat: no-repeat;
    background-position: 0 -95px;
  }

  section.video {
    background-size: 1045px 413px;
    background-image: url('../images/device@2x.png');
  }

  section.partners div.partner-item.odnoklassniki {
    background-size: 263px 182px;
    background-image: url('../images/odnoklassniki-logo@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 -91px;
  }

  section.partners div.partner-item.img {
    background-size: 200px 182px;
    background-image: url('../images/img-logo@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 -91px;
  }

  section.partners div.partner-item.zvooq {
    background-size: 198px 182px;
    background-image: url('../images/zvooq-logo@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 -91px;
  }

  section.partners div.partner-item.ronline {
    background-size: 280px 182px;
    background-image: url('../images/101-logo@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 -91px;
  }

  section.new-market {
    background-size: 1280px 440px;
    background-image: url('../images/team.jpg');
  }

  section.press div.press-item.roem {
    background-size: 223px 60px;
    background-image: url('../images/roem-logo@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  section.press div.press-item.kommersant {
    background-size: 352px 64px;
    background-image: url('../images/kommersant-logo@2x.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  section.footer div.footer-company {
    float: right;
    width: 152px;
    height: 57px;
    background-size: 152px 57px;
    background-image: url('../images/dream-logo@2x.png');
  }
}
